.welcome-text {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
}

ion-button {
  height: 60px;
  font-size: 16px;
}

.emergency-btn {
  margin-top: 30px;
  height: 65px;
  font-size: 18px;
}

ion-card img {
  width: 100%;
  border-radius: 10px;
}
