ion-content {
  --background: #f4f6f8;
}

.intro {
  text-align: center;
  margin: 16px 0;

  h2 {
    font-weight: 600;
  }

  p {
    color: #666;
    font-size: 14px;
  }
}

ion-item {
  font-size: 16px;
}

ion-card img {
  width: 100%;
  border-radius: 12px;
}
